/* 
General Styling for the whole document
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

/* 
Start Main Layout
*/
.main-layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  max-width: 100vw;
}
/* 
Sidebar
*/
.main-layout > aside {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 30px;
  grid-row: 1 / 3;
  background-color: #1d87d8;
  color: #ffffff;
  padding: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 20px;
}
/* 
Header
*/
header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: repeat(2, max-content);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.search {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 30px;
  gap: 20px;
}
.search > input {
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: rgb(235, 232, 232);
  padding: 5px;
  outline: none;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.user {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr;
  margin-left: 2.5rem;
  align-items: center;
  padding: 10px;
  line-height: 0.3;
}
.user h1 {
  font-size: 1.5rem;
  padding-left: 20px;
}
.user p {
  padding-bottom: 5px;
  justify-content: center;
  padding-left: 20px;
}
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-buttons button {
  background-color: #1d87d8;
  border-radius: 20px;
  border: none;
  padding: 10px 30px 10px 30px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
}
/* 
Start Main Section
*/
.main-content {
  display: grid;
  grid-template-columns: 6fr 1fr;
  background-color: #e2e7f1;
}
.main-content > h1 {
  grid-row: 1 / 2;
  font-size: 1.3rem;
  padding-left: 30px;
}
.post {
  display: flex;
  flex-direction: column;
  min
  flex-wrap: wrap;
  line-height: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  border-radius: 10px;
  border: 2px solid black;
  border-left: 10px gold solid;
  background-color: #ffffff;
}
.post > h2 {
  margin-bottom: 5px;
}
.post-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.main-content-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.main-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  align-items: center;
  border-radius: 10px;
  margin-right: 10px;
  gap: 10px;
  margin-bottom: 20px;
}
.announcements-container,
.trending-container {
  padding: 10px 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
}
.trending {
  margin-right: 60%;
  font-size: 1.5rem;
}
.trending-item {
  min-width: 250px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr;
  padding: 10px;
  align-items: center;
  line-height: 0.3;
}
.announcements-item p {
    color: gray;
}
