/* 
General Styling for the whole document
*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

/* 
Start Main Layout
*/
.main-layout {
    display: grid;
    grid-template-columns: .8fr 4fr;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: 100%;
}
/* 
Sidebar
*/
aside{
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 30px;
    grid-row: 1 / 3;
    background-color: blue;
    color: #FFFFFF;
    padding-left: 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 20px;
}
/* 
Header
*/
header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: repeat(2, max-content);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.search {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 30px;
    gap: 20px;
}
.search > input{
    width: 90%;
    border-radius: 10px;
    border: none;
    background-color: rgb(184, 181, 181);
    padding: 5px;
    outline: none;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.user {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    margin-left: 2.5rem;
    align-items: center;
    padding-left: 10px;
    line-height: .3;
}
.user h1{
    font-size: 1.5rem;
    padding-left: 20px;
}
.user p {
    padding-bottom: 5px;
    justify-content: center;
    padding-left: 20px;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-buttons button {
    background-color: blue;
    border-radius: 20px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: .8rem;
    font-weight: bold;
    color: #FFFFFF;
}